/* */

/* Reset do CSS */

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Declaração variáveis */

:root {
  --gray-500: #667085;
  --base-white: #FFF;
  --gray-900: #101828;
}

/* Setando tamanho do body */

body {
  width: 100%;
  height: 100%;
}

/* Cabeçalho como um todo */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

/* Imagem logo */

header img {
  width: 9.25rem;
}

/* Navegação */

header ul {
  display: flex;
  gap: 2rem;
}


/* Itens navegação */

header a {
  color: var(--gray-500);
  font-weight: 500;
  line-height: i.5rem;
}

/* Log-in */

header button {
  color: var(--gray-500);
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.6rem 1.1rem;
}

/* Log-in (Entrar) */

header button:first-child {
  background: none;
  border: none;
}

/* Log-in (Cadastrar) */

header button:last-child {
  color: var(--base-white);
  border-radius: 0.5rem;
  border: 0.06rem solid #8E2424;
  background: #8E2424;
  box-shadow: 0rem 0.06rem 0.1rem 0rem rgba(16, 24, 40, 0.05);
}

/* Sonre nós */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  max-width: 80rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sobrenos {
  margin: 6rem 0;
  text-align: center;
}

/* Sobre nós (Primeiro parágrafo) */

.sobrenos p:first-child {
  color: #8E2424;
  font-weight: 600;
  line-height: 1.5rem;
}

/* Sobre nós (Título) */

.sobrenos h1 {
  color: var(--gray-900);
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.7rem;
  letter-spacing: -0.96px;
  padding: 1.5rem 0;
}

/* Sobre nós (Segundo parágrafo) */

.sobrenos p:last-child {
  color: var(--gray-500);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/* Seção de dados */

.dados ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6rem;
}

/* Quantidade do item */

.dados ul li h2 {
  color: #8E2424;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 4.5rem;
  letter-spacing: -1.2px;
  padding-bottom: 0.7rem;
}

/* Item */

.dados ul li h3 {
  color: var(--gray-900);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7rem;
  padding-bottom: 0.5rem;
}

/* Descrição do item */

.dados ul li p {
  color: var(--gray-500);
  font-weight: 400;
  line-height: 1.5rem;
}

/* Seção vagas */

.vagas {
  padding: 6rem 0;
  text-align: center;
}

/* Div título */

.titulo {
  text-align: center;
}

/* Primeiro parágrafo */

.titulo p:first-child {
  color: #8E2424;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  padding-bottom: 1rem;
}

/* Título */

.titulo h2 {
  color: var(--gray-900);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: -0.72px;
  margin-bottom: 1.2rem;
}

/* Descrição */

.titulo p:last-child {
  color: var(--gray-500);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.vagas img {
  margin: 4rem 0;
  flex-shrink: 0;
}

.lista {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  gap: 2rem;
}

.lista ul {
  max-width: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.lista ul li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 5rem;
  padding: 1.5rem;
  gap: 1.5rem;
  border: 1px solid var(--gray-500);
}

.lista h2 {
  color: var(--gray-900);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.lista h3 {
  color: var(--gray-900);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.lista {
  color: var(--gray-500, #667085);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}